<div class="modal-child modal-childMain custCol-primary">
  <div class="aboutModal-accordion accordion">
    <div class="accordion-window">
      <div class="accordion-child custCol-primary custCol-text colorBlack">
        <div class="bar barFlush height24 alignCenter marginTop32px">
          <a class="btn-tab js-tab colorBlack <% ob.tab === 'support' && print('active') %>" data-tab="support">
            <span class="ion-android-favorite fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Support') %>
          </a>
        </div>

        <% if (ob.tab === 'support') { %>
        <div class="custCol-primary modal-about-section js-externalLinks customThemeScrollbar lineHeight20 alignCenter">
          <div class="width100 alignCenter marginTop16px">
            <img class="width40" src="./imgs/donations.png" />
          </div>
          <div class="margin0auto width95 textSize14px"><%= polyglot.t('aboutSection.support') %></div>
        </div>
        <% } %>
        <div class="about-hero marginTop24px">
          <div class="alignCenter">
          <div class="modal-hero-icon"></div>
            <p class="colorBlack marginTop8 playful-cat-icon">crafted with playful mind</p>
            <!-- Created by Denis Sazhin from the Noun Project-->
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>