<div class="windowControls ctrlGroup">
  <a class="btn btn-win btn-winClose js-navClose <% ob.style !== 'mac' && print('tooltip-left') %>">
    <div class="btn-win-icon ion-ios-close-empty"></div>
  </a>
  <a class="btn btn-win btn-winMin js-navMin <% ob.style !== 'mac' && print('tooltip-left') %>">
    <div class="btn-win-icon ion-ios-minus-empty"></div>
  </a>
  <a class="btn btn-win btn-winMax js-navMax <% ob.style !== 'mac' && print('tooltip-left') %>">
    <div class="btn-win-icon ion-ios-plus-empty"></div>
  </a>      
</div>
