<div class="newChatButton clearFix">
    <div class="chatMessagesLabel"><%= polyglot.t('Messages') %></div>
</div>

<div class="chatSearch clearFix height43 hide chatSearchOut">
    <div class="chatSearchIcon ion-ios-search-strong js-chatSearch"></div>
    <input id="chatSearchField" class="js-chatSearchText" type="text" placeholder="<%= polyglot.t('SearchForFollowersPlaceholder') %>" value=""/>
</div>

<div class="chatConversationHeads"></div>

<div class="chatConversationContainer chatConversationContainerHide"></div>