<div class="leftSidebar-browse">
	<a class="leftSidebar-browse-title" href="#home"><h1 class="title-font">Browse</h1></a>
	<a class="leftSidebar-browse-business">
	Business
	</a>
	<a class="leftSidebar-browse-design">
	Design
	</a>
	<a class="leftSidebar-browse-programming">
	Programming
	</a>
	<a class="leftSidebar-browse-translation">
	Translation
	</a>
</div>
<div class="leftSidebar-create">
	<h1 class="title-font">Create</h1>
	<a class="leftSidebar-create-create" href="#userPage/<%= ob.guid %>/listingNew">
	Create
	</a>
	<a class="leftSidebar-create-edit" href="#userPage/<%= ob.guid %>/store">
	Edit
	</a>
</div>