<div class="spinner-with-logo">
  <div class="loadingAnimationModal"></div>
  <div id="inTurnFadingTextG"><div id="inTurnFadingTextG_1" class="inTurnFadingTextG">C</div><div id="inTurnFadingTextG_2" class="inTurnFadingTextG">o</div><div id="inTurnFadingTextG_3" class="inTurnFadingTextG">n</div><div id="inTurnFadingTextG_4" class="inTurnFadingTextG">n</div><div id="inTurnFadingTextG_5" class="inTurnFadingTextG">e</div><div id="inTurnFadingTextG_6" class="inTurnFadingTextG">c</div><div id="inTurnFadingTextG_7" class="inTurnFadingTextG">t</div><div id="inTurnFadingTextG_8" class="inTurnFadingTextG">i</div><div id="inTurnFadingTextG_9" class="inTurnFadingTextG">n</div><div id="inTurnFadingTextG_10" class="inTurnFadingTextG">g</div></div>
</div>
<div class="loadingModalContent">
  <p class="fontSize16"><%= window.polyglot.t('errorMessages.loadingTakingTooLong') %></p>
  <div id="loadingModalBtns">
    <a class="btn btn-large marginRight10 custCol-secondary custCol-text js-indexReload"><div class="loadingAnimationModal"></div><div id="inTurnFadingTextG"><div id="inTurnFadingTextG_1" class="inTurnFadingTextG">C</div><div id="inTurnFadingTextG_2" class="inTurnFadingTextG">o</div><div id="inTurnFadingTextG_3" class="inTurnFadingTextG">n</div><div id="inTurnFadingTextG_4" class="inTurnFadingTextG">n</div><div id="inTurnFadingTextG_5" class="inTurnFadingTextG">e</div><div id="inTurnFadingTextG_6" class="inTurnFadingTextG">c</div><div id="inTurnFadingTextG_7" class="inTurnFadingTextG">t</div><div id="inTurnFadingTextG_8" class="inTurnFadingTextG">i</div><div id="inTurnFadingTextG_9" class="inTurnFadingTextG">n</div><div id="inTurnFadingTextG_10" class="inTurnFadingTextG">g</div></div><span><%= window.polyglot.t('Reload') %></span></a>
    <% if (ob.showLoadIndexButton) { %>
    <a class="btn btn-large custCol-secondary custCol-text" href="#home"><i class="ion-eye"></i> <span><%= window.polyglot.t('LoadIndex') %></span></a>
    <% } %>
  </div>
</div>  