<div class="rowItem marginBottom40">
  <div class="table custCol-text">
    <div>
      <div class="reviewFeedLeft">
        <p class="fontSize14 textWeightNormal clamp4"><%= ob.review %></p>
      </div>
      <div class="reviewFeedRight">
        <div class="floatLeft fontSize12 positionAbsolute marginTopNeg8 textOpacity65">
          <% if(ob.address){ %>
          <div>
            <% if(config.testnet){ %>
              <a href="https://live.blockcypher.com/btc-testnet/address/<%- ob.address %>" class="noWrap">
            <% }else{ %>
              <a href="https://live.blockcypher.com/btc/address/<%- ob.address %>" class="noWrap btn custCol-secondary textOpacity1">
            <% } %>
                <%= polyglot.t('transactions.ViewOnBlockchain') %>
                <span class="ion-android-open fontSize10"></span>
              </a>
          </div>
          <% } %>
          <div class="clearfix">
            <div class="js-rating-detail pull-right">
              <% print(ob.starsTmpl({ rating: ob.feedback })) %>
            </div>
          </div>        
          <div class="rating-detail fontSize12 hide">
            <div class="floatLeft">
              <span>
                <%= polyglot.t('transactions.Quality') %>
              </span>
              <span>
                <% print(ob.starsTmpl({ rating: ob.quality })) %>
              </span>
              <span class="marginTop9">
                <%= polyglot.t('transactions.MatchedDescription') %>
              </span>
              <span>
                <% print(ob.starsTmpl({ rating: ob.description })) %>
              </span>
            </div>
            <div class="floatLeft">
              <span>
                <%= polyglot.t('transactions.DeliverySpeed') %>
              </span>
              <span>
                <% print(ob.starsTmpl({ rating: ob.delivery_time })) %>
              </span>
              <span class="marginTop9">
                <%= polyglot.t('transactions.CustomerService') %>
              </span>
              <span>
                <% print(ob.starsTmpl({ rating: ob.customer_service })) %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
