<div class="flexContainer flex-border custCol-primary">
  <div class="flexRow">
    <div class="list flexRow flexExpand border0 js-rows-wrap autoOverflowYHideX customThemeScrollbar colorBlack">
      <h2 class="js-zero-configs marginCenter marginTop24px">No server configurations.</h2>

<div class="flexRow borderBottom custCol-border server-config-row">
  <div class="padding16px positionRelative marginTop16px">
    <div class="flexRow">
      <div class="table">
        <div class="width100">
	      <div class="vertAlignMid noOverflow width30">
	          <span class="greyBorderBottom">Name</span>
	      </div>
	      <div class="vertAlignMid noOverflow alignLeft width25">
	          <span class="greyBorderBottom">IP Address</span>
	      </div>
	      <div class="vertAlignMid noOverflow alignCenter width15">
	          <span class="greyBorderBottom">Delete</span>
	      </div>
	      <div class="vertAlignMid noOverflow alignCenter width15">
	          <span class="greyBorderBottom">Edit</span>
	      </div>
	      <div class="vertAlignMid noOverflow alignCenter width15">
	          <span class="greyBorderBottom">On/Off</span>
	      </div>
	    </div>
	  </div>
	</div>
  </div>
</div>

    </div>
  </div>
</div>