<div class="rowItem padding2015
      <% if(ob.isBlank) { %>
      js-blankMod
       <% } %>"
       data-guid="<%= ob.guid %>">
  <div class="flexRow">
    <div class="table">
      <div>
        <% if(ob.isModerator){ %>
        <div style="width: 38px;">
          <input type="checkbox" id="userCheckInput<%= ob.userCount %>" class="fieldItem" data-guid="<%= ob.guid %>"
          <% if(ob.existingModerator){ %>
          checked
          <% } %>
          >
          <label for="userCheckInput<%= ob.userCount %>">
        </div>
        <% } %>
        <div
        <% if(ob.micro){ %>
        style="width: 54px;"
        <% } else { %>
        style="width: 80px;"
        <% } %>
        >
          <div class="margin0Auto thumbnail
          <% if(!ob.micro){ %>
          thumbnail
          <% } else { %>
          thumbnail-small
          <% } %>
          custCol-border-secondary textOpacity90 clickable js-userShort"
            <% if(ob.avatar_hash) { %>
            style="background-image: url(<%= ob.avatarURL %>), url(imgs/offlineUser.png);">
            <% } else { %>
            style="background-image: url(imgs/defaultUser.png);">
            <% } %>
          </div>
        <% if(!ob.micro && !ob.hideFollow){ %>
        <div class="alignCenter">
          <a class="js-userShortUnfollow <% if(!ob.ownFollowing){ %> hide <% } %> smallWhiteOnBlueButton">
            <%= polyglot.t('Unfollow') %>
          </a>
          <a class="js-userShortFollow <% if(ob.ownFollowing){ %> hide <% } %> smallBlueOnWhiteButton">
            <%= polyglot.t('Follow') %>
          </a>
        </div>
        <% } %>
        </div>
        <div>
          <div class="marginLeft15 noOverflow clearFix">
            <% if(ob.name) { %>
            <div class="floatLeft marginRight5 lineHeight21">
              <a class="<% if(ob.micro){ %> textSize14px <% } else { %> textSize16px <% } %> js-userShort js-searchName"><%= ob.name %></a>
            </div>
            <% } %>
            <% if(ob.handle) { %>
              <div class="pull-left lineHeight21">
                <a class="<% if(ob.micro){ %>textSize10<% }else{ %>textSize14px<% } %> txt-fade js-userShort js-searchHandle"><%= ob.handle %></a>
              </div>
            <% }else{ %>
              <div class="pull-left lineHeight21
              <% if(ob.micro){ %>
              width110 noOverflow
              <% } %>
              ">
                <a class="<% if(ob.micro){ %>textSize10<% }else{ %>textSize14px<% } %> txt-fade js-userShort"><%= ob.guid %></a>
              </div>
            <% } %>
          </div>
          <div class="marginLeft15 marginRight15 marginTop2 <% if(ob.micro){ %>textSize10<% }else{ %>fontSize14<% } %> txt-fade textWeightNormal">
            <% if(ob.short_description) { %>
              <div class="clamp2"><%= ob.short_description %></div>
            <% } else { %>
              <div><%= polyglot.t('NoDescriptionAdded') %></div>
            <% } %>
          </div>
        </div>
        <div style="width: 105px;">
          <% if(ob.isModerator){ %>
          <div class="pull-right rowTop10 fontSize12 txt-fade">
            <%= polyglot.t('ModeratorFee') %> <%= ob.intlNumFormat(ob.fee, 2) %>%
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>