<div class="mainContainer custCol-background js-mainContainer">
  <div class="banner-large js-userPageBanner custCol-secondary"
        <% if(ob.page.profile.header_hash){ %>
        style="background-image: url(<%= ob.page.headerURL %>), url(imgs/defaultBanner.png);">
        <% } else { %>
        style="background-image: url(imgs/defaultBanner.png);">
        <% } %>
  </div>

  <div id="image-cropper" class="headerCropper banner-large js-pageCustomizationButtons js-headerCropper">
    <div class="headerCropperPreview banner-large cropit-image-preview js-pageCustomizationButtons"></div>
    <div class="statusBar navBar fadeOut positionAbsolute js-headerLoading">
      <div class="pad20 rowTop20 width100"><h2 class="txt-center"><% polyglot.t('LoadingImage') %></h2></div>
    </div>
    <input type="range" class="cropit-image-zoom-input hCentered rowTop20 js-bannerRangeInput hide" />
    <label for="headerImageInput" class="btn btn-c1 btn-txt rowTop20 fullCentered js-pageCustomizationButtons btn-upload-cover-photo custCol-primary">
      <span class="ion-qr-scanner fontSize11 marginRight2 textOpacity1"></span>
      <%= polyglot.t('UploadCoverPhoto') %> (950px x 320px)
    </label>
    <input id="headerImageInput" type="file" class="cropit-image-input hide" />
    <div class="bar navBar barFlush user-page-navigation positionBottom">
      <div class="navEnd pad10">
        <div class="ctrlGroup js-pageCustomizationButtons js-userPageControls hide">
          <a class="btn btn-txt custCol-primary js-cancelCustomization"><%= polyglot.t('Cancel') %></a>
        </div>
        <div class="ctrlGroup js-pageCustomizationButtons js-userPageControls hide">
          <a class="btn btn-txt custCol-primary js-saveCustomization">
            <span class="ion-checkmark fontSize11 marginRight2 textOpacity1"></span>
            <%= polyglot.t('SaveChanges') %> (<%= config.keyShortcutPrefix + config.keyShortcuts.save.toUpperCase() %>)
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="shadow-inner1 user-page-header js-userPageHeader">
    <div class="rowItem positionBottom width100 padding0 paddingLeft20 minEffectsDarkBackground">
      <div class="table">
        <div class="hide js-followsMe allCaps fontSize12 padding10">
          <div class="pull-right">Follows You</div>
        </div>
        <div class="widthAuto bar navBar barFlush user-page-navigation-buttons positionBottomRight backgroundTransparent">
          <div class="navEnd pad10">
            <div class="ctrlGroup hide js-pageButtons js-userPageControls">
              <a class="btn btn-txt custCol-primary js-sellItem">
                <span class="ion-ios-pricetag fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('nav.createListing') %>
              </a>
              <a class="btn btn-txt custCol-primary js-createStore">
                <span class="ion-ios-cart fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('CreateStore') %>
              </a>
            </div>
            <div class="ctrlGroup hide js-pageButtons js-userPageControls">
              <a class="btn btn-txt custCol-primary js-customize">
                <span class="ion-paintbucket fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('Customize') %>
              </a>
            </div>
            <% if(ob.page.profile.moderator && ob.user.vendor) { %>
		          <div class="ctrlGroup hide js-notOwnPageButtons js-userPageControls">
              <a class="btn btn-txt custCol-primary hide js-addmoderator">
                <span class="ion-person-add fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('AddModerator') %>
              </a>
              <a class="btn btn-txt custCol-primary hide confirmable js-removemoderator">
                <span class="preSpacer">
                  <span class="ion-eye-disabled fontSize11 marginRight2 textOpacity1"></span>
                  <%= polyglot.t('RemoveModerator') %>
                </span>
                <span class="preConfirm">
                  <span class="ion-trash-b fontSize11 marginRight2 textOpacity1"></span>
                  <%= polyglot.t('RemoveModerator') %>
                </span>
                <span class="postConfirm">
                  <span class="ion-trash-b fontSize11 marginRight2 textOpacity1"></span>
                  <%= polyglot.t('ConfirmRemoveModerator') %>
                </span>
              </a>
            </div>
          <% } %>
            <div class="ctrlGroup hide js-itemButtons js-userPageControls hide">
              <a class="btn btn-txt custCol-primary js-editItem">
                <span class="ion-compose fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('Edit') %>
              </a>
            </div>
            <div class="ctrlGroup hide js-itemButtons js-userPageControls hide">
              <a class="btn btn-txt custCol-primary js-cloneItem">
                <span class="ion-compose fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('Clone') %>
              </a>
            </div>
            <div class="ctrlGroup hide js-extraButtonsNotOwnPage js-userPageControls">
              <a class="btn btn-txt custCol-primary js-block <% if(ob.isBlocked){ %>hide<% } %>">
                <span class="ion-android-remove-circle fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('Block') %>
              </a>
              <a class="btn btn-txt custCol-primary js-unblock <% if(!ob.isBlocked){ %>hide<% } %>">
                <span class="ion-android-cancel fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('Unblock') %>
              </a>
            </div>
            <div class="ctrlGroup hide js-extraButtonsOwnPage js-userPageControls">
              <a class="btn btn-txt custCol-primary js-moderatorSettings">
                <span class="ion-ios-pricetag fontSize11 marginRight2 textOpacity1"></span>
                <span class="js-userPageEditModerator <% if(!ob.page.profile.moderator){ %> hide <% } %>"><%= polyglot.t('EditModerator') %></span>
                <span class="js-userPageBecomeModerator <% if(ob.page.profile.moderator){ %> hide <% } %>"><%= polyglot.t('BecomeModerator') %></span>
              </a>
            </div>
            <div class="ctrlGroup hide js-pageButtons js-userPageControls">
              <a class="ion-more btn btn-txt custCol-primary js-moreButtonsOwnPage width34 lineHeight32 padding0 fontSize18"></a>
            </div>
            <div class="ctrlGroup hide js-notOwnPageButtons js-userPageControls">
              <a class="ion-more btn btn-txt custCol-primary js-moreButtonsNotOwnPage width34 lineHeight32 padding0 fontSize18"></a>
            </div>
            <div class="ctrlGroup hide js-itemButtons js-userPageControls hide">
              <a class="btn btn-txt custCol-primary confirmable js-deleteItem">
                <span class="preSpacer">
                  <span class="ion-trash-b fontSize11 marginRight2 textOpacity1"></span>
                  <%= polyglot.t('Delete') %>
                </span>
                <span class="preConfirm">
                  <span class="ion-trash-b fontSize11 marginRight2 textOpacity1"></span>
                  <%= polyglot.t('Delete') %>
                </span>
                <span class="postConfirm">
                  <span class="ion-trash-b fontSize11 marginRight2 textOpacity1"></span>
                  <%= polyglot.t('ConfirmDelete') %>
                </span>
              </a>
            </div>
            <div class="ctrlGroup hide js-itemEditButtons js-userPageControls hide textOpacity1">
              <a class="btn btn-txt custCol-primary js-cancelItem"><%= polyglot.t('Cancel') %></a>
            </div>
            <div class="ctrlGroup hide js-itemCustomizationButtons js-userPageControls hide textOpacity1">
              <a class="btn btn-txt custCol-primary js-cancelCustomization"><%= polyglot.t('Cancel') %></a>
            </div>
            <div class="ctrlGroup hide js-itemEditButtons js-userPageControls hide">
              <a class="btn btn-txt custCol-primary js-saveItem">
                <span class="ion-checkmark fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('SaveChanges') %> (<%= config.keyShortcutPrefix + config.keyShortcuts.save.toUpperCase() %>)
              </a>
            </div>
            <div class="ctrlGroup hide js-itemCustomizationButtons js-userPageControls hide">
              <a class="btn btn-txt custCol-primary js-saveCustomization">
                <span class="ion-checkmark fontSize11 marginRight2 textOpacity1"></span>
                <%= polyglot.t('SaveChanges') %> (<%= config.keyShortcutPrefix + config.keyShortcuts.save.toUpperCase() %>)
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="userPage-subViews custCol-primary minHeight650 js-userPageSubViews">         
    <div class="flexContainer flex-border custCol-primary js-about js-tabTarg minHeight650">
      <div class="flexRow minHeight650">
        <div class="flexCol-4 flex-border border0 userPageSocialAccounts overflowHidden">
          <div class="flexRow">
            <div class="ctrlGroup hide js-notOwnPageButtons js-userPageControls alignCenter">
              <a class="blueOnWhiteButton hide js-follow">
                <%= polyglot.t('Follow') %>
              </a>
              <a class="whiteOnBlueButton btn btn-txt custCol-primary hide confirmable js-unfollow">
                <span class="preSpacer">
                  Following
                </span>
                <span class="preConfirm">
                  Following
                </span>
                <span class="postConfirm">
                  <%= polyglot.t('ConfirmUnfollow') %>
                </span>
              </a>
            </div>          
            <div class="flexRow borderBottom custCol-border margintop25">
              <ul class="positionWrapper noOverflow alignCenter padding0">
                <li class="borderBottom custCol-border holizontalAlign">
                  <div class="positionWrapper noOverflow holizontalAlign">
                    <a class="fontSize18 js-followingTab js-tab">
                      <%= polyglot.t('Following') %>
                      <span class="pill fontSize18 marginLeft2 js-userFollowingCount displayBlock">...</span>
                    </a>
                  </div>
                </li>
                <li class="borderBottom custCol-border holizontalAlign">
                  <div class="positionWrapper noOverflow holizontalAlign">
                    <a class="fontSize18 js-followersTab js-tab">
                      <%= polyglot.t('Followers') %>
                      <span class="pill fontSize18 marginLeft2 js-userFollowerCount displayBlock">...</span>
                    </a>
                  </div>
                </li>
              </ul>  
            </div>     
            <hr>
            <div class="width100">
              <div class="marginTop24 marginLeft32 marginBottom16 fontSize24">Contact</div>
              <div class="flexRow custCol-border width100">
                <div class="padding0832 positionWrapper noOverflow width100">
                  <div class="tooltip marginBottom16 width100" title="<%= ob.page.profile.guid %>"><span class="greenColor ion-ios-checkmark-outline marginRight8 textOpacity1 top2"></span><%= polyglot.t('Guid') %></div>
                </div>
              </div>
              <div class="flexRow custCol-border width100">
                <div class="padding0832 positionWrapper noOverflow width100 marginBottom16">
                <% if(ob.ownPage) { %>
                  <a href="#settings/page" class="userPageEditBtn">
                    <div class="btn btn-txt custCol-secondary fontSize12 js-editPage">
                      <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
                      <%= polyglot.t('Edit') %>
                    </div>
                  </a>
                <%}%>
                <% if(ob.page.profile.website) { %>
                  <span class="js-websiteVerified ion-ios-checkmark-outline marginRight8 top2"></span><a href="<%= ob.page.profile.website %>" class="js-websiteExternalLink tooltip width100" title="<%= ob.page.profile.website %>"><%= polyglot.t('Website') %></a>
                  <%}else{%>
                  <span class="ion-ios-circle-outline js-websiteVerified marginRight8 top2"></span><a class="js-websiteExternalLink"><%= polyglot.t('Website') %></a>
                  <%}%>
                </div>
              </div>
              <div class="flexRow custCol-border width100">
                <div class="padding0832 positionWrapper noOverflow width100 marginBottom16">
                  <% if(ob.ownPage) { %>
                    <a href="#settings/page" class="userPageEditBtn">
                      <div class="btn btn-txt custCol-secondary fontSize12 js-editPage">
                        <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
                        <%= polyglot.t('Edit') %>
                      </div>
                    </a>
                  <%}%>
                  <% if(ob.page.profile.email) { %>
                  <span class="js-emailVerified ion-ios-checkmark-outline marginRight8 top2"></span><span class="js-emailExternalLink tooltip" title="<%= ob.page.profile.email %>"><%= polyglot.t('Email') %></span>
                  <%}else{%>
                  <span class="js-emailVerified ion-ios-circle-outline marginRight8 top2"></span><a class="js-emailExternalLink"><%= polyglot.t('Email') %></a>
                  <%}%>
                </div>
              </div>
              <div class="flexRow custCol-border width100">
                <div class="padding0832 positionWrapper noOverflow width100 marginBottom16">
                <% if(ob.ownPage) { %>
                  <a href="#settings/page" class="userPageEditBtn">
                    <div class="btn btn-txt custCol-secondary fontSize12 js-editPage">
                      <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
                      <%= polyglot.t('Edit') %>
                    </div>
                  </a>
                <%}%>
                  <% if(ob.page.profile.social_accounts.facebook && ob.page.profile.social_accounts.facebook.username) { %>
                  <span class="js-facebookVerified ion-ios-checkmark-outline marginRight8 top2"></span><a href="https://facebook.com/<%= ob.page.profile.social_accounts.facebook.username %>" class="js-facebookExternalLink tooltip" title="<%= ob.page.profile.email %>"><%= polyglot.t('Facebook') %></a>
                  <%}else{%>
                    <span class="js-facebookVerified ion-ios-circle-outline marginRight8 top2"></span><a class="js-facebookExternalLink"><%= polyglot.t('Facebook') %></a>
                  <%}%>
                </div>
              </div>
              <div class="flexRow custCol-border width100">
                <div class="padding0832 positionWrapper noOverflow width100 marginBottom16">
                <% if(ob.ownPage) { %>
                  <a href="#settings/page" class="userPageEditBtn">
                    <div class="btn btn-txt custCol-secondary fontSize12 js-editPage">
                      <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
                      <%= polyglot.t('Edit') %>
                    </div>
                  </a>
                <%}%>
                  <% if(ob.page.profile.social_accounts.twitter && ob.page.profile.social_accounts.twitter.username) { %>
                  <span class="js-twitterVerified ion-ios-checkmark-outline marginRight8 top2"></span><a href="https://twitter.com/<%= ob.page.profile.social_accounts.twitter.username %>" class="js-twitterExternalLink  tooltip" title="<%= ob.page.profile.social_accounts.twitter.username %>"><%= polyglot.t('Twitter') %></a>
                <%}else{%>
                  <span class="js-twitterVerified ion-ios-circle-outline marginRight8 top2"></span><a class="js-twitterExternalLink"><%= polyglot.t('Twitter') %></a>
                <%}%>
                </div>
              </div>
              <div class="flexRow custCol-border width100">
                <div class="padding0832 positionWrapper noOverflow width100 marginBottom16">
                <% if(ob.ownPage) { %>
                  <a href="#settings/page" class="userPageEditBtn">
                    <div class="btn btn-txt custCol-secondary fontSize12 js-editPage">
                      <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
                      <%= polyglot.t('Edit') %>
                    </div>
                  </a>
                <%}%>
                  <% if(ob.page.profile.social_accounts.instagram && ob.page.profile.social_accounts.instagram.username) { %>
                  <span class="js-instaVerified ion-ios-checkmark-outline marginRight8 top2"></span><a href="https://instagram.com/<%= ob.page.profile.social_accounts.instagram.username %>" class="js-instaExternalLink tooltip" title="<%= ob.page.profile.social_accounts.instagram.username %>"><%= polyglot.t('Instagram') %></a>
                  <%}else{%>
                    <span class="js-instaVerified ion-ios-circle-outline marginRight8 top2"></span><a class="js-instaExternalLink"><%= polyglot.t('Instagram') %></a>
                  <%}%>
                </div>
              </div>
              <div class="flexRow borderBottom custCol-border">
                <div class="rowItem positionWrapper noOverflow">
                <% if(ob.ownPage) { %>
                  <a href="#settings/page" class="userPageEditBtn">
                    <div class="btn btn-txt custCol-secondary">
                      <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
                      <%= polyglot.t('Edit') %>
                    </div>
                  </a>
                <%}%>
                  <div class="textOpacity75 fontSize14"><%= polyglot.t('PGPKey') %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flexCol-8 custCol-border userPageRight">
          <div class="profileTop">
            <div class="paddingLeft15">
              <div class="holizontalAlign">
                <div>
                  <span class="h1 page-userNameLarge fancy-heading">
                    <%= ob.page.profile.name %>
                  </span>
                </div>
              </div>
              <div class="hide js-notOwnPageButtons js-userPageControls holizontalAlign profileChatButton">
                <a class="chatButton js-message">Chat</a>
              </div>
            </div> 
            <div class="rowItem userPageAboutSection js-userPageAboutSection">
              <% if(ob.ownPage) { %>
                <a href="#settings/page">
                  <div class="btn btn-txt userPageEditBtn custCol-secondary fontSize12 js-editPage">
                    <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
                    <%= polyglot.t('Edit') %>
                  </div>
                </a>
              <%}%>
              <% if(ob.page.profile.about) { %>
               <div class="js-userAbout margin0 editableContent fontSize14"><%= ob.page.profile.displayAbout %></div>
              <%}else{%>
                <span class="textOpacity75"><%= polyglot.t('AboutEmpty') %></span>
              <%}%>
            </div>
          </div>
          <div class="storeReviewTab textOpacity75">
            <% if(ob.page.profile.vendor) { %>
            <a class="custCol-secondary js-storeTab js-tab textOpacity75">
              <span class="ion-ios-cart fontSize30 marginRight8 textOpacity1 displayBlock"></span>
              <%= polyglot.t('Service') %>
              <span class="pill fontSize12 textOpacity75 js-listingCount">...</span>
            </a>
            <span class="vertical-line"></span>
            <a class="custCol-secondary js-reviewsTab js-tab textOpacity75">
              <span class="ion-document-text fontSize30 marginRight8 textOpacity1 displayBlock"></span>
              <%= polyglot.t('Reviews') %>
              <span class="pill fontSize12 textOpacity75 js-userReviewsCount">...</span>
            </a>
            <% } %>
          </div>    
          <div class="storeReviewContent">
            <div class="flexContainer flex-border custCol-primary js-store js-tabTarg minHeight650" id="searchStore">
              <div class="flexRow positionWrapper">
                <div class="flexRow custCol-border">
                  <div class="txtFieldWrapper searchWrapper searchWrapperWithPill">
                    <input type="text" id="inputStore" class="txtField txtField-bar search" placeholder="<%= polyglot.t('SearchOnUserStorePlaceholder') %>"  />
                  </div>
                </div>
                <div class="selectPill positionAbsolute left0 top11">
                  <select id="categories" class="custCol-secondary js-categories custCol-text">
                    <option value="all" selected><%= polyglot.t('All') %></option>
                  </select>
                </div>
              </div>
              <div class="flexRow js-list3 list">
                <div class="padding10 width100 alignCenter js-loadingMsg borderBottom">
                  <i class="ion-android-sync spinner textSize24px textOpacity50"></i>
                </div>
              </div>
            </div>
            <div class="flexContainer flex-border custCol-primary js-reviews js-tabTarg hide minHeight650">
              <div class="flexRow js-list6">
                <div class="padding10 width100 alignCenter js-loadingMsg borderBottom">
                  <i class="ion-android-sync spinner textSize24px textOpacity50"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
    <div class="profilePageIcon thumbnail thumbnail-large js-userPageAvatar"
      <% if(ob.page.profile.avatar_hash) { %>
      style="background-image: url(<%= ob.user.serverUrl %>get_image?hash=<%= ob.page.profile.avatar_hash %>), url(imgs/defaultUser.png);">
      <% } else { %>
      style="background-image: url(imgs/defaultUser.png);">
      <% } %>

      <% if(ob.ownPage) { %>
        <a href="#settings/page" class="userPageEditBtn">
          <div class="btn btn-txt custCol-secondary fontSize11 marginTop4 hCentered">
            <span class="ion-edit fontSize10 marginRight2 textOpacity1"></span>
            <%= polyglot.t('Edit') %>
          </div>
        </a>
      <%}%>
    </div> 
    <div class="flexContainer flex-border custCol-primary js-followers js-tabTarg hide minHeight650" id="searchFollowers">
      <div class="flexRow height54">
        <!--<div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom custCol-border">-->
        <div class="txtFieldWrapper searchWrapper borderBottom custCol-border">
          <input type="text" id="inputFollowers" class="txtField txtField-bar search" placeholder="<%= polyglot.t('SearchForFollowersPlaceholder') %>" />
        </div>
        <!--
        <div class="selectPill pull-up43">
          <select class="custCol-secondary custcol-text">
            <option value="all" selected><%= polyglot.t('filters.pagesAllTypes') %></option>
            <option value="stores"><%= polyglot.t('filters.pagesStores') %></option>
            <option value="moderators"><%= polyglot.t('filters.pagesMods') %></option>
            <option value="basic"><%= polyglot.t('filters.pagesBasic') %></option>
          </select>
        </div>
        -->
      </div>
      <div class="flexRow js-list1 overlay overlay-scale">
        <div class="padding10 width100 alignCenter js-loadingMsg borderBottom js-modalClose">
          <i class="ion-android-sync spinner textSize24px textOpacity50"></i>
        </div>
      </div>
    </div>
    <div class="flexContainer flex-border custCol-primary js-following js-tabTarg hide minHeight650" id="searchFollowing">
      <div class="flexRow height54">
        <!--<div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom custCol-border">-->
        <div class="txtFieldWrapper searchWrapper borderBottom custCol-border">
          <input type="text" id="inputFollowing" class="txtField txtField-bar search" placeholder="<%= polyglot.t('SearchForFollowingPlaceholder') %>" />
        </div>
        <!--
        <div class="selectPill pull-up43">
          <select class="custCol-secondary custcol-text">
            <option value="all" selected><%= polyglot.t('filters.pagesAllTypes') %></option>
            <option value="stores"><%= polyglot.t('filters.pagesStores') %></option>
            <option value="moderators"><%= polyglot.t('filters.pagesMods') %></option>
            <option value="basic"><%= polyglot.t('filters.pagesBasic') %></option>
          </select>
        </div>
        -->
      </div>
      <div class="flexRow js-list2 overlay overlay-scale">
        <div class="padding10 width100 alignCenter js-loadingMsg borderBottom js-modalClose">
          <i class="ion-android-sync spinner textSize24px textOpacity50"></i>
        </div>
      </div>
    </div>
    <div class="flexContainer flex-border custCol-primary js-item js-tabTarg hide minHeight650">
      <div class="flexRow js-list4 minHeight650">
        <div class="padding10 width100 alignCenter js-loadingMsg borderBottom">
          <i class="ion-android-sync spinner textSize24px textOpacity50"></i>
        </div>
      </div>
    </div>
    <div class="flexContainer flex-border custCol-primary js-itemEdit js-tabTarg hide minHeight650">
      <div class="flexRow itemEdit js-list5 minHeight650 positionWrapper"></div>
    </div>
  </div>
</div>

<%= ob.backToTopTmpl({ className: 'custCol-secondary' }) %>
